<aside class="sidebar">
    <h2 class="logo"></h2>
    <nav>
      <a routerLink="/dashboard" routerLinkActive="active">
        <div class="icon">
          <i class="material-icons">dashboard</i>
        </div>
        <span>Dashboard</span>
      </a>

      <a routerLink="/expense" routerLinkActive="active">
        <div class="icon">
          <i class="material-icons">account_balance_wallet</i>
        </div>
        <span>Despesas</span>
      </a>

      <a routerLink="/income" routerLinkActive="active">
        <div class="icon">
          <i class="material-icons">savings</i>
        </div>
        <span>Receitas</span>
      </a>

      <a routerLink="/settings" routerLinkActive="active">
        <div class="icon">
          <i class="material-icons">settings</i>
        </div>
        <span>Configurações</span>
        
      </a>
    </nav>

  </aside>